text {
	font-family: Arial, Helvetica, sans-serif;
	fill:white;
}

.local--link {
	fill: none;
	stroke: darkgrey;
	stroke-width: 1px;
  }
  .remote--link {
	fill: none;
	stroke: #ddd;
	stroke-width: 1.5px;
  }
  .invisible--link {
	fill: none;
	stroke: #ddd;
	stroke-opacity: 0.0;
	stroke-width: 1.5px;
  }

  .rootSurface {
	background-color: black;
	border-radius: 15px;
  }

  .chipNspider {
	vertical-align: middle;
  }

  .textBox {
	color: aqua;
	fill: none;
	stroke: darkgreen;
  }

  .card {
	color: white;
	background-color: darkgrey;
	margin: 2px;
	padding: 3px;
  }

  .card-render {
	fill: white;
	width:24px;
	height: 24px;
	flex-shrink:0;
  }

  
.card-description-field {
    width: 80%;
    padding: 4px;
}


.card-description-field-input {
    width: 100%;
}

.last-column {
	float: right;
}

  .pulse {
    -webkit-animation: pulse 1s infinite;
    animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: scale(1);
    }

    40% {
        -webkit-transform: scale(0.9);
    }

    60% {
        -webkit-transform: scale(1.1);
    }
}

@keyframes pulse {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    40% {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
    }

    60% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
}